body {
    padding: 0;
    margin: 0;
}

.section {
    display: none;
}

.section.active {
    display: block;
}

nav:after {
    content: ' ';
    height: 0;
    display: block;
    visibility: none;
    clear: both;
}

nav button {
    border: 0;
    border-bottom: 1px solid #ccc;
    border-left: 1px solid #ccc;
    background: 0;
    height: 40px;
    float: left;
    width: 50%;
    color: inherit;
}